<!DOCTYPE html>
<html lang="en" class="<meta name="viewport" content="width=device-width">

<head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="./app.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script>
        var albumBucketName = "autograder-site";
        var bucketRegion = "us-east-2";
        var IdentityPoolId = "us-east-1:f9f649f7-6cd4-4e69-8f63-e89aeadb1f0d";
        
        AWS.config.update({
          region: bucketRegion,
          credentials: new AWS.CognitoIdentityCredentials({
            IdentityPoolId: IdentityPoolId
          })
        });
        
        var s3 = new AWS.S3({
          apiVersion: "2006-03-01",
          params: { Bucket: albumBucketName }
        });

        function addPhoto(photokey) {
        // var files = document.getElementById("photoupload").files;
        // if (!files.length) {
        //     return alert("Please choose a file to upload first.");
        // }
        // var file = files[0];
        // var fileName = file.name;
        // var albumPhotosKey = encodeURIComponent(albumName) + "//";

        // var photoKey = albumPhotosKey + fileName;

        // Use S3 ManagedUpload class as it supports multipart uploads
        var upload = new AWS.S3.ManagedUpload({
            params: {
            Bucket: albumBucketName,
            Key: photoKey,
            Body: file,
            ACL: "public-read"
            }
        });

        var promise = upload.promise();

        promise.then(
            function(data) {
            alert("Successfully uploaded photo.");
            viewAlbum(albumName);
            },
            function(err) {
            return alert("There was an error uploading your photo: ", err.message);
            }
        );
        }
        </script>

  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

  <title>Upload & Crop</title>
  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
  
<style>
  .page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >
  <main class="page">
	<h2>Upload and crop your image.</h2>
	<!-- input file -->
	<div class="box">
		<input type="file" id="file-input">
	</div>
	<!-- leftbox -->
	<div class="box-2">
		<div class="result"></div>
	</div>
	<!--rightbox-->
	<div class="box-2 img-result hide">
		<!-- result of crop -->
		<img class="cropped" src="" alt="">
	</div>
	<!-- input file -->
	<div class="box">
		<div class="options hide">
			<label> Width</label>
			<input type="number" class="img-w" value="1080" min="100" max="1200" />
		</div>
		<!-- save btn -->
		<button class="btn save hide">Crop Image</button>
		<!-- download btn -->
    <a href="" class="btn download hide">Upload</a>

	</div>
</main>

    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
      <script id="rendered-js" >
      // vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#file-input'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', e => {
  if (e.target.files.length) {
    // start file reader
    const reader = new FileReader();
    reader.onload = e => {
      if (e.target.result) {
        // create new image
        let img = document.createElement('img');
        img.id = 'image';
        img.src = e.target.result;
        // clean result before
        result.innerHTML = '';
        // append new image
        result.appendChild(img);
        // show save btn and options
        save.classList.remove('hide');
        options.classList.remove('hide');
        // init cropper
        cropper = new Cropper(img);
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
});

// save on click
save.addEventListener('click', e => {
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
    width: img_w.value // input value
  }).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
  img_result.classList.remove('hide');
  // show image cropped
  cropped.src = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href', imgSrc);
});
      //# sourceURL=pen.js
// dwn.addEventListener('click', e => {
//   e.preventDefault();
//   // get result to data uri
//   url = dwn.getAttribute('href');
// //   function srcToFile(src, fileName, mimeType){
// //     return (fetch(src)
// //         .then(function(res){return res.arrayBuffer();})
// //         .then(function(buf){return new File([buf], fileName, {type:mimeType});})
// //     );
// //   }
// //   srcToFile(url,'temp.jpg','image/jpeg')
// //   .then(function(file){
// //     console.log(file);
// // })
//   // url = url.split(',')[1]
//   addPhoto(url)
//   if (window.confirm('Click OK to continue.')) 
//     {
//     window.location.href='landingpage?imgurl='+url;
//     // window.location.href='landingpage';
//     };
  
// // Upload an object to Amazon S3
// // result = client.putObject(array(
// // 'Bucket' => bucket,
// // 'Key' => 'data.png',
// // 'Body' => content
// // )); 
  
// });
    </script>



</body>

</html>
 
